<div class="Footer">
    <div class="Footer-inner">
        <img src="./images/engage-photography.png" alt="">
        <p class="copyright">
            Copyright 2017. All rights reserved. </p>
        <div class="Footer-Icons">
            <div class="Footer-icon icon-1">
                <i class="fa-brands fa-facebook-f"></i>
            </div>
            <div class="Footer-icon icon-2">
                <i class="fa-brands fa-google"></i>
            </div>
            <div class="Footer-icon icon-3">
                <i class="fa-brands fa-linkedin"></i>
            </div>
            <div class="Footer-icon icon-4">
                <i class="fa-brands fa-twitter"></i>
            </div>
        </div>
    </div>
</div>