/* You can add global styles to this file, and also import other style files */
@import "ngx-toastr/toastr";
.toast-custom-top-right {
  position: fixed !important;
  top: 20px !important;
  right: 20px !important;
}
